.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-items: stretch;
    overflow-wrap: break-word;
    background-color: lightblue;
}
.item1 {
    background-color: red;
    min-width: 400px;
}
.item2 {
    background-color: green;
}